<mat-toolbar color="primary" class="position-sticky fixed-top">

  <mat-toolbar-row *ngIf="state == 'logged'">
    <span class="mr-2 pt-1 mt-1">
      <button mat-icon-button (click)="toggleSideBar(true)">
        <mat-icon>menu</mat-icon>
      </button>
    </span>
    <h2 class="mr-2 pt-1 mt-1 font-weight-light">
      {{toolTitle}}
    </h2>

    <mat-menu #appMenu="matMenu">
      <button mat-menu-item>
        <mat-icon>settings</mat-icon>Configuración
      </button>
      <button mat-menu-item routerLink="home/about">
        <mat-icon>help</mat-icon>Ayuda
      </button>
      <mat-divider></mat-divider>
      <button mat-menu-item (click)="logout()">
        <mat-icon>power_settings_new</mat-icon>Cerrar Sesión
      </button>
    </mat-menu>

    <button mat-icon-button [matMenuTriggerFor]="appMenu" class="ml-auto">
      <mat-icon>more_vert</mat-icon>
    </button>
  </mat-toolbar-row>

  <mat-toolbar-row *ngIf="state == 'unlogged'">
    <span class="font-weight-light">
      {{toolTitle}}
    </span>
  </mat-toolbar-row>


  <mat-toolbar-row *ngIf="state == '' ">

  </mat-toolbar-row>

  <mat-toolbar-row *ngIf="state == 'detail'">
    <button mat-icon-button (click)="back()">
      <mat-icon>arrow_back</mat-icon>
    </button>
  </mat-toolbar-row>


</mat-toolbar>