input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}
.icon-display {
  transform: scale(1);
}
.disabled {
  transform: scale(1.5);
  color: rgb(167, 167, 167);
}
.enabled-dollar {
  transform: scale(1.5);
  color: rgb(0, 0, 0);
}
.dates-list {
  height: 12em;
}
