<mat-sidenav-container class="h-100">
    <mat-sidenav mode="over" #sideNav class="w-75">
        <app-sidenav-content (toggleNavigate)="navigate(sideNav)">
        </app-sidenav-content>
    </mat-sidenav>
    <mat-sidenav-content>
        <app-toolbar (toggleEvent)="sideNav.toggle()">
        </app-toolbar>
        <ng-content></ng-content>
    </mat-sidenav-content>
</mat-sidenav-container>