<div class="row">
    <div class="col">
        <mat-spinner class="mx-auto mt-5 pt-5" *ngIf="showSpinner"></mat-spinner>
        <mat-nav-list>
            <mat-list-item *ngFor="let payment of payment$ | async" [routerLink]="['/payment', payment.payment_id]">
                <mat-icon matListIcon class=" icon-display">attach_money</mat-icon>
                <p matLine class="font-weight-bold">{{payment.created_at.toDate() |  date: 'shortDate'}}</p>
                <p matLine class="font-weight-thin">
                    {{payment.amount_paid | currency:'RD$'}}
                </p>
                <mat-divider></mat-divider>
            </mat-list-item>
        </mat-nav-list>
    </div>
    <div class="col-12">
        <div *ngIf="noPayments" class="col-12 col-md-6 text-center disabled  py-5 my-4">
            <mat-icon class="display-2 mr-5 pr-5 pb-0">attach_money</mat-icon>
            <p class="font-weight-light px-3 mt-0 pt-0">
                No hay pagos realizados
            </p>
        </div>
    </div>
</div>