<mat-spinner class="mx-auto mt-5 pt-5" *ngIf="showSpinner"></mat-spinner>
<div *ngIf="client$ | async as client">
    <client-form [initialFormValue]="client" (formValue)="updateClient($event)">
        <span class="save">Guardar cambios</span>
        <span class="checkLoan">
            <mat-list *ngIf="!client.active_loan" class="mt-3">
                <mat-list-item>
                    <mat-icon matListIcon class="icon-big disabled">work_outline</mat-icon>
                    <p matLine class="font-weight-light ml-5 disabled"> Ver préstamo </p>
                </mat-list-item>
            </mat-list>
            <mat-nav-list *ngIf="client.active_loan">
                <mat-divider class="mt-3 w-100"></mat-divider>
                <mat-list-item [routerLink]="['/loan', client.loan_id]">
                    <mat-icon matListIcon class="icon-big">work_outline</mat-icon>
                    <p matLine class="font-weight-bold ml-5"> Ver préstamo </p>
                </mat-list-item>
                <mat-divider class="w-100"></mat-divider>
            </mat-nav-list>
        </span>
    </client-form>

</div>