<app-sidenav>
    <router-outlet></router-outlet>
</app-sidenav>

<!-- Original state
<app-sidenav *ngIf="user">
    <router-outlet *ngIf="user"></router-outlet>
</app-sidenav>

<router-outlet *ngIf="!user"></router-outlet>  -->