<div class="row">
    <div class="col">
        <mat-spinner class="mx-auto mt-5 pt-5" *ngIf="showSpinner"></mat-spinner>
        <mat-nav-list>
            <mat-list-item *ngFor="let client of client$ | async" [routerLink]="['/client',client.client_id]">
                <mat-icon matListIcon *ngIf="!client.active_loan" class="icon-display">person_outline</mat-icon>
                <mat-icon matListIcon *ngIf="client.active_loan" class="icon-display">person</mat-icon>
                <p matLine class="font-weight-bold"> {{client.name}} </p>
                <p matLine class="font-weight-thin">
                    {{client.cellphone}}
                </p>
                <mat-divider></mat-divider>
            </mat-list-item>
        </mat-nav-list>
    </div>
    <div class="col-12">
        <div *ngIf="noClients" class="col-12 col-md-6 text-center disabled py-5 my-4">
            <mat-icon class="display-2 mr-5 pr-5 pb-0">supervised_user_circle</mat-icon>
            <p class="font-weight-light px-3 mt-0 pt-0">
                No hay clientes registrados
            </p>
        </div>
    </div>
</div>