.icon-display {
  transform: scale(1.4);
}
.disabled {
  transform: scale(1);
  color: rgb(167, 167, 167);
}

.enabled-dollar {
  transform: scale(2);
  color: rgb(0, 0, 0);
}

.dates-list {
  height: 25vh;
}

