/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: "Open Sans", sans-serif;
}
.snackbar-action {
  .mat-simple-snackbar-action {
    color: white !important;
  }
}
::ng-deep .mat-horizontal-stepper-header {
  pointer-events: none !important;
}
