<!-- ======= Hero Section ======= -->
<section id="hero">
  <div class="hero-container mb-5">
    <a href="index.html" class="hero-logo" data-aos="zoom-in"><img src="{{imgSrc1}}" alt=""></a>
    <h1 data-aos="zoom-in">Bienvenido a Payme</h1>
    <h2 data-aos="fade-up">Más allá de prestamos.</h2>
    <a data-aos="fade-up" (click)="scroll(about)" class="btn-get-started scrollto">Conoce más</a>
  </div>
</section><!-- End Hero -->

<main id="main">

  <!-- ======= About Us Section ======= -->
  <section id="about" class="about" #about>
    <div class="container">

      <div class="section-title" data-aos="fade-up">
        <h2>Acerca de Payme</h2>
        <p>Cónoce como puedes ahorrar tiempo y dinero con Payme.</p>
      </div>

      <div class="row">
        <div class="col-lg-6" data-aos="fade-right">
          <div class="image">
            <img src="{{imgSrc3}}" class="img-fluid" alt="">
          </div>
        </div>
        <div class="col-lg-6 mb-5" data-aos="fade-left">
          <div class="content pt-4 pt-lg-0 pl-0 pl-lg-3 ">
            <h3>La manera más facil de manejar a tus Clientes y Prestamos.</h3>
            <p class="font-italic">
              Con Payme podrás almacenar a tus clientes con sus respectivos prestamos:
            </p>
            <ul>
              <li><i class="bx bx-check-double"></i> Clientes: Podrás crear clientes con los datos necesarios para
                brindarte más seguridad a la hora de guardar la información de tus clientes.</li>
              <li><i class="bx bx-check-double"></i> Prestamos: Ya con tus clientes almacenados, podrás crear prestamos
                de una manera muy sencilla e intuitiva con una interfaz simple pero completa.</li>
              <li><i class="bx bx-check-double"></i> Pagos: Podrás llevar al dia los pagos de cada cliente para asi no
                perder ningun dato sobre el pago realizado o algún pago futuro.</li>
            </ul>
            <p class="text-center font-weight-bold">
              ¿Qué estás esperando para empezar a utilizar Payme?
            </p>
          </div>
        </div>
      </div>

    </div>
  </section><!-- End About Us Section -->


  <a href="#" class="back-to-top"><i class="icofont-simple-up"></i></a>

  <!-- Vendor JS Files -->

  <script src="/src/assets/vendor/jquery/jquery.min.js"></script>
  <script src="/src/assets/vendor/jquery.easing/jquery.easing.min.js"></script>
  <script src="/src/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="/src/assets/vendor/php-email-form/validate.js"></script>
  <script src="/src/assets/vendor/jquery-sticky/jquery.sticky.js"></script>
  <script src="/src/assets/vendor/venobox/venobox.min.js"></script>
  <script src="/src/assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="/src/assets/vendor/owl.carousel/owl.carousel.min.js"></script>
  <script src="/src/assets/vendor/aos/aos.js"></script>

  <script src="/src/assets/js/main.js"></script>